<template>
  <div>
    <v-toolbar class="mb-2">
      <v-toolbar-title>
        Rooster voor {{currentKlas}}
        <v-btn icon @click="resetClass">
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-toolbar-title>

      <div class="flex-grow-1"></div>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <span v-on="on">
            <v-btn
              v-clipboard:copy="webcalURL"
              v-clipboard:success="()=>{copyURLSnack = true;$ga.event({eventCategory: 'Calendar', eventAction: 'copy',eventLabel: `Class ${currentKlas}`});}"
              icon
            >
              <v-icon>mdi-link</v-icon>
            </v-btn>
          </span>
        </template>
        <span>Kopieer Webcal URL</span>
      </v-tooltip>
      <!-- <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <span v-on="on">
            <v-btn
              icon
              :href="webcalURL.replace('https','webcal').replace('http','webcal')"
              target="_blank"
            >
              <v-icon>mdi-google</v-icon>
            </v-btn>
          </span>
        </template>
        <span>Voeg toe aan Google Agenda</span>
      </v-tooltip>-->
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <span v-on="on">
            <v-btn
              :href="webcalURL"
              target="_blank"
              text
              @click="$ga.event({eventCategory: 'Calendar', eventAction: 'Download',eventLabel: `Class ${currentKlas}`})"
            >
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </span>
        </template>

        <span>Download deze agenda</span>
      </v-tooltip>
      <v-btn
        :href="webcalURL"
        target="_blank"
        text
        @click="$ga.event({eventCategory: 'Calendar', eventAction: 'Subscribe',eventLabel: `Class ${currentKlas}`})"
      >
        <v-icon>mdi-open-in-new</v-icon>Abonneer op deze agenda
      </v-btn>
    </v-toolbar>
    <v-calendar
      ref="calendar"
      elevation="2"
      type="week"
      locale="nlNL"
      :now="now"
      :weekdays="[1, 2, 3, 4, 5, 6]"
      :max-days="5"
      :events="lessenCalendar"
      v-model="startTime"
      :start="startTime"
      :first-interval="intervals.first"
      :interval-minutes="intervals.minutes"
      :interval-count="intervals.count"
      :interval-height="intervals.height"
    ></v-calendar>
    <v-toolbar>
      <v-row justify="space-between">
        <v-btn fab small elevation="1" color="primary" @click="$refs.calendar.prev()">
          <v-icon dark>mdi-chevron-left</v-icon>
        </v-btn>
        <div>
          <!-- {{startTime}} -->
        </div>
        <v-btn fab small elevation="1" color="primary" @click="$refs.calendar.next()">
          <v-icon dark>mdi-chevron-right</v-icon>
        </v-btn>
      </v-row>
    </v-toolbar>

    <v-snackbar v-model="copyURLSnack" :timeout="timeout">
      URL '{{webcalURL}}' is gekopieerd!
      <v-btn color="red" @click="copyURLSnack = false ">Sluit</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import clipboard from "vue-clipboard2";

import moment from "moment";
import tz from "moment-timezone";
export default {
  props: ["lessen", "currentKlas"],
  data: () => ({
    copyURLSnack: false,
    timeout: 2000,
    startTime: moment().format("YYYY-MM-DD"),
    now: null,
    intervals: {
      first: 7,
      minutes: 60,
      count: 14,
      height: 40
    }
  }),
  created() {},
  computed: {
    webcalURL() {
      return process.env.apiUrl + "/klas/" + this.currentKlas + "/ical";
    },
    lessenCalendar() {
      return this.lessen.map(les => {
        return {
          name: les.commentaar,
          start: moment(les.starttijd)
            .tz("UTC")
            .format("YYYY-MM-DD HH:mm:ss"),
          end: moment(les.eindtijd)
            .tz("UTC")
            .format("YYYY-MM-DD HH:mm:ss")
        };
      });
    },
    intervalFormatter(interval) {
      return interval.time;
    }
  },
  methods: {
    resetClass() {
      this.$emit("resetClass");
    }
  }
};
</script>

<style>
</style>