<template>
  <div>
    <v-autocomplete
      v-model="selectedKlas"
      :items="klas_items"
      :loading="isLoading"
      :search-input.sync="klassearch"
      hide-no-data
      hide-selected
      item-text="Klas"
      item-value="API"
      label="Zoek op klas"
      placeholder="Start met typen om te zoeken"
      prepend-icon="mdi-account-search"
      return-object
      ref="vautocomplete"
      @change="classChanged"
    ></v-autocomplete>
  </div>
</template>

<script>
export default {
  name: "KlasSearch",
  data: () => ({
    klassearch: "",
    klasentries: [],
    selectedKlas: "",
    isLoading: false
  }),
  computed: {
    klas_items() {
      return this.klasentries.map(entry => {
        return entry.klasnaam;
      });
    }
  },
  watch: {
    klassearch(val) {
      if (val !== null) {
        if (this.isLoading) return;

        this.isLoading = true;
        this.$axios
          .$get("search/klas/" + val)
          .then(res => {
            this.klasentries = res;
          })
          .catch(err => {
            console.log(err);
          })
          .finally(() => (this.isLoading = false));
      }
    }
  },
  mounted() {
    this.$refs.vautocomplete.$refs.input.addEventListener("keydown", e => {
      if (e.keyCode === 13) {
        this.selectedKlas = this.klasentries[0].klasnaam;
        this.classChanged();
      }
    });
  },
  methods: {
    classChanged() {
      this.$emit("classChanged", this.selectedKlas);
    },
  }
};
</script>

<style>
</style>