<template>
  <v-row>
    <v-col v-if="lessen.length > 0">
      <KlasCalendar :lessen="lessen" :currentKlas="klas"></KlasCalendar>
    </v-col>
  </v-row>
</template>

<script>

import KlasCalendar from "~/components/KlasCalendar";

export default {
  components:{KlasCalendar},
  data: () => ({
    lessen:[]
  }),
  computed: {
    klas() {
      return this.$route.params.klas;
    }
  },
  created() {
   this.$cookies.set("class", this.klas);
   this.$axios.get("/klas/" + this.klas).then(resp => {
        this.lessen = resp.data;
      });
  }
};
</script>

<style>
</style>